#formData {
    border: 4px solid #1C6EA4;
    -webkit-border-radius: 20px;
border-radius: 20px;
text-align: center;
padding: 20px;
margin-left: 33%;
margin-right: 33%;
}
#submitButton {
        color: rgb(255, 255, 255); font-size: 100%; padding: 3%; border-radius: 20px; font-family: Georgia, serif; background-color: rgb(28, 110, 164) ;    border: 4px solid rgb(20, 75, 112); display: inline-block;
    }
        #submitButton:hover {
        background: rgb(21, 81, 121);
        border-width: 7px;
        margin-top: -3px;
       }
        #submitButton:active {
        background: #797979; }
        
#top {
    display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
 border-bottom: 4px ridge #1C6EA4;
 margin: 20px;
}
#title{
    text-align: center;
}     
#uea-logo{
    width: 25%;
}
input {
    margin-bottom: 3%;
    width: 40%;
}