#home{
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.home-text{
    font-size: 80px;
    font-weight: 600;
}

.arrow{
    display: flex;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #ffffff; 
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: fadeIn 2s ease-in-out infinite alternate;
}

.arrow:hover{
    border-top: 30px solid #b4296f;
    transition: all ease-in-out 0.5s;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#features{
    padding: 40px 20px;
    width: 100%;
    height: 100vh;
    background: white;
    background-size: cover;
    background-position: center;
    color:black;
}

.features-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#notifyimg {
    height: 400px;
    width: 350px;
}

@media only screen and (max-width: 1407px) {
    #card-text3{
        bottom: -1307px !important;
    }

    #card-text4{
        bottom: -1308px !important;
    }
}

@media only screen and (max-width: 960px) {
    .features-container{
        flex-direction: column;
        align-items: center;
    }

    .card{
        margin: 20px auto;
    }

    #card-text1 {
        bottom: -695px !important;
    }

    #card-text2 {
        bottom: -1235px !important;
    }

    #card-text3 {
        bottom: -1775px !important;
    }

    #card-text4 {
        bottom: -2315px !important;
    }
}